.clear-icon {
    // float: right;
    display:flex;
    justify-content: end;
    padding-right: 17px;
    font-size: 30px;
    cursor: pointer;
}
.align-center {
    text-align: center;
}
.padding-bottom {
    padding-bottom: 10px;
}